body{
	margin: 0;
}
.bg{ /* . (ponto para chamar class)*/
	width: 100%;
	min-height: 1000px;
	background-image: url(../img/608.png), url(../img/607.jpg);
	background-position: left top, right bottom;
	background-repeat: no-repeat, repeat;
	background-attachment: fixed, scroll;
	background-size: auto, cover;
}