@{
    ViewData["Projeto"] = "Home";
}

<div class="home mb-3">
    <section class="banner">
        <h2 class="title text-center"> A morte de um colosso </h2>
        <p class="text-center"> Veja o resultado da constante retirada de recusos do planeta Terra </p>
    </section>
    <section class="about">
        <h3 class="text-center py-3 text-primary">Planeta em Degradação</h3> 
        <div class="container">
            <p class="text-justify pb-5 m-0 p ">
                Atividades humanas insustentáveis em todo mundo tem degradado os ecossistemas da Terra, colocando em risco as fundações ecológicas da sociedade.<br/>
                Ações urgentes, e em uma escala sem precedentes, são necessárias para reverter a situação, ou a saúde humana e ambiental estarão comprometidas.
            </p>
        </div>
    </section>
</div>
